<?php echo '<?xml version="1.0" encoding="UTF-8"?>' . "\n"; ?>
<!DOCTYPE html><!-- moersito -->
<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" xml:lang="<?php echo $lang; ?>">
<head>
	<meta charset="utf-8" />
	<title><?php echo $title; ?></title>
	<base href="<?php echo $base; ?>" />
	<?php if ($description) { ?>
	<meta name="description" content="<?php echo $description; ?>" />
	<?php } ?>
	<?php if ($keywords) { ?>
	<meta name="keywords" content="<?php echo $keywords; ?>" />
	<?php } ?>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<?php foreach ($links as $link) { ?>
	<link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
	<?php } ?>
	
	<link rel="icon" href="view/image/admin_theme/favicons/rsz_admin-icon4.png" />
	
	<!-- Le styles -->
	<link type="text/css" href="view/stylesheet/admin_theme/base5builder_impulsepro/bootstrap.css" rel="stylesheet" />
	<link type="text/css" href="view/stylesheet/admin_theme/base5builder_impulsepro/style.css" rel="stylesheet" />
	<link type="text/css" href="view/stylesheet/admin_theme/base5builder_impulsepro/bootstrap-responsive.css" rel="stylesheet" />
	<link type="text/css" href="view/stylesheet/admin_theme/base5builder_impulsepro/style-responsive.css" rel="stylesheet" />
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' />
	<link type="text/css" href="view/javascript/admin_theme/base5builder_impulsepro/ui/themes/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
        <!-- greenhole handmade style -->
        <link type="text/css" href="view/stylesheet/admin_theme/base5builder_impulsepro/greenhole-adm.css" rel="stylesheet" />
        
	  <!--[if IE 7]>
	  <link type="text/css" href="view/stylesheet/admin_theme/base5builder_impulsepro/style-ie7.css" rel="stylesheet">
	  <![endif]-->
	  <!--[if IE 8]>
	  <link type="text/css" href="view/stylesheet/admin_theme/base5builder_impulsepro/style-ie8.css" rel="stylesheet">
	  <![endif]-->
	<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/jquery.js"></script>
	<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/ui/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/ui/external/jquery.bgiframe-3.0.0.js"></script>
	<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/tabs.js"></script>
	<?php foreach ($styles as $style) { ?>
	<link rel="<?php echo $style['rel']; ?>" type="text/css" href="<?php echo $style['href']; ?>" media="<?php echo $style['media']; ?>" />
	<?php } ?>
	<?php foreach ($scripts as $script) { ?>
	<script type="text/javascript" src="<?php echo $script; ?>"></script>
	<?php } ?>
	<?php if($this->user->getUserName()){ ?>
		<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/flot/jquery.flot.min.js"></script>
		<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/flot/jquery.flot.pie.min.js"></script>
		<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/flot/curvedLines.min.js"></script>
		<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/flot/jquery.flot.tooltip.min.js"></script>
		<!--<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/Chart.min.js"></script>-->
		<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/modernizr.js"></script>
		<!--[if lte IE 8]>
		<script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/excanvas.min.js"></script>
		<![endif]-->
	<?php } ?>
	<script type="text/javascript">
	$(document).ready(function(){ // Open jQuery [[

		// Signin - Button

		$(".form-signin-body-right input").click(function(){
			$(".form-signin").submit();
		});

		// Signin - Enter Key

		$('.form-signin input').keydown(function(e) {
			if (e.keyCode == 13) {
				$('.form-signin').submit();
			}
		});

	    // Confirm Delete
	    $('#form').submit(function(){
	    	if ($(this).attr('action').indexOf('delete',1) != -1) {
	    		if (!confirm('<?php echo $text_confirm; ?>')) {
	    			return false;
	    		}
	    	}
	    });

		// Confirm Uninstall
		$('a').click(function(){
			if ($(this).attr('href') != null && $(this).attr('href').indexOf('uninstall', 1) != -1) {
				if (!confirm('<?php echo $text_confirm; ?>')) {
					return false;
				}
			}
		});
		
		// Scroll Table
		var numrows_tbody = $('table.scroll tbody tr').size();
  		if( numrows_tbody < 5 ){
  			$('table.scroll thead').css('width','100%'); 
  		}   

  		$('.help-about').click(function () {
  			$('#modal-help-about').dialog({title:'About Apps'});
  		});

  		$('.help-docs').click(function () {
  			$('#modal-help-docs').dialog({title:'Docs Apps'});
  		});

	}); // End jQuery ]]
	</script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="view/javascript/admin_theme/base5builder_impulsepro/html5shiv.js"></script>
  <![endif]-->
  
  <!--script type="text/javascript" src="view/javascript/jquery/__autocomplete.js"></script-->

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="view/image/admin_theme/base5builder_impulsepro/favicon.png" />
  <style media="screen">
  
  /*--SCROLL BASE TABLE--*/
  table.scroll { width:100%; border-collapse:collapse; border-spacing:0; border:1px solid #CBCACA; background-color:#777777; }
  table.scroll thead, 
  table.scroll tbody, 
  table.scroll tr, 
  table.scroll td, 
  table.scroll th { display: block; }
  table.scroll tr:after { content:' '; display:block; visibility:hidden; clear:both; }
  table.scroll thead { /* fallback */ width: 97%; /* minus scroll bar width */ width: calc(100% - 17px); color:#fff; }
  table.scroll thead td { height:30px; line-height:30px; }
  table.scroll tbody { max-height:100px; overflow-y:auto; background-color:#fff; border-top:2px solid #CBCACA; }
  table.scroll tbody td, 
  table.scroll thead td { width: 16%; float: left; border-right: 1px solid #CBCACA; }
  table.scroll tbody td:last-child, 
  table.scroll thead td:last-child { border-right: none; }

  /*--UKURAN--*/
  table.scroll .vtiny { width:1.5%;}
  table.scroll .tiny  { width:2.5%;}
  table.scroll .vsmall{ width:3.5%;}
  table.scroll .small { width:5%;  }
  table.scroll .normal{ width:7.5%;}
  table.scroll .medium{ width:15%; }
  table.scroll .large { width:25%; }
  table.scroll .vlarge{ width:30%; }

  /*--ALIGNMENT--*/
  .left  { text-align:  left; }
  .right { text-align: right; }
  .center{ text-align:center; }

  </style>
</head>
<body>
	<div class="container-fluid">

		<?php if ($logged) { ?>

		<div id="left-column">
			<div class="sidebar-logo">
				<!--h3 >[[ CPanel ]]</h3-->
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<!--h3 style="color: white"><img src="" /></h3-->
				
				<!--a href="< ?php echo $home; ?>">
				 <img src="view/image/admin_theme/base5builder_impulsepro/logo.png" />
				</a-->
			</div>
			<div id="mainnav">
				<ul class="mainnav">
					<li id="menu-control">
						<div class="menu-control-outer">
							<div class="menu-control-inner">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</div>
						</div>
					</li>
					<li id="dashboard"><a href="<?php echo $home; ?>" class="top"><?php echo $text_dashboard; ?></a></li>
					<li id="catalog"><a class="top"><?php echo $text_catalog; ?></a>
						<ul>
							<li><a href="<?php echo $category; ?>"><?php echo $text_category; ?></a></li>
							<li><a href="<?php echo $product; ?>"><?php echo $text_product; ?></a></li>
							<li><a href="<?php echo $filter; ?>"><?php echo $text_filter; ?></a></li>
							<li><a class="parent"><?php echo $text_attribute; ?></a>
                                                            <ul>
                                                                <li><a href="<?php echo $attribute; ?>"><?php echo $text_attribute; ?></a></li>
								<li><a href="<?php echo $attribute_group; ?>"><?php echo $text_attribute_group; ?></a></li>
                                                            </ul>
							</li>
							<!--li><a href="<?php echo $option; ?>">< ?php echo $text_option; ?></a></li-->
							<li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
							<li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
							<li><a href="<?php echo $review; ?>"><?php echo $text_review; ?></a></li>
							<li><a href="<?php echo $information; ?>"><?php echo $text_information; ?></a></li>
						</ul>
					</li>
					<li id="extension"><a class="top"><?php echo $text_extension; ?></a>
						<ul>
							<li><a href="<?php echo $module; ?>"><?php echo $text_module; ?></a></li>
							<li><a href="<?php echo $shipping; ?>"><?php echo $text_shipping; ?></a></li>
							<li><a href="<?php echo $payment; ?>"><?php echo $text_payment; ?></a></li>
							<!--
							<li><a href="<?php echo $total; ?>"><?php echo $text_total; ?></a></li>
							<li><a href="<?php echo $feed; ?>"><?php echo $text_feed; ?></a></li>
                            -->
						</ul>
					</li>
					<li id="sale"><a class="top"><?php echo $text_sale; ?></a>
						<ul>
							<li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
							<li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
							<li><a class="parent"><?php echo $text_customer; ?></a>
                                                            <ul>
                                                                <li><a href="<?php echo $customer; ?>"><?php echo $text_customer; ?></a></li>
								<li><a href="<?php echo $customer_group; ?>"><?php echo $text_customer_group; ?></a></li>
								<li><a href="<?php echo $customer_ban_ip; ?>"><?php echo $text_customer_ban_ip; ?></a></li>
                                                            </ul>
							</li>
							<li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
							<li><a href="<?php echo $coupon; ?>"><?php echo $text_coupon; ?></a></li>
							<li><a class="parent"><?php echo $text_voucher; ?></a>
								<ul>
									<li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
									<li><a href="<?php echo $voucher_theme; ?>"><?php echo $text_voucher_theme; ?></a></li>
								</ul>
							</li>
							<li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
						</ul>
					</li>
					<li id="system"><a class="top"><?php echo $text_system; ?></a>
						<ul>
							<li><a href="<?php echo $setting; ?>"><?php echo $text_setting; ?></a></li>
							<li><a class="parent"><?php echo $text_design; ?></a>
								<ul>
									<li><a href="<?php echo $layout; ?>"><?php echo $text_layout; ?></a></li>
									<li><a href="<?php echo $banner; ?>"><?php echo $text_banner; ?></a></li>
								</ul>
							</li>
							<li><a class="parent"><?php echo $text_users; ?></a>
								<ul>
									<li><a href="<?php echo $user; ?>"><?php echo $text_user; ?></a></li>
									<li><a href="<?php echo $user_group; ?>"><?php echo $text_user_group; ?></a></li>
								</ul>
							</li>
							<li><a class="parent"><?php echo $text_localisation; ?></a>
								<ul>
									<li><a href="<?php echo $language; ?>"><?php echo $text_language; ?></a></li>
									<li><a href="<?php echo $currency; ?>"><?php echo $text_currency; ?></a></li>
                                                                        <!--
									<li><a href="<?php echo $stock_status; ?>"><?php echo $text_stock_status; ?></a></li>
									<li><a href="<?php echo $order_status; ?>"><?php echo $text_order_status; ?></a></li>
									<li><a class="parent"><?php echo $text_return; ?></a>
										<ul>
											<li><a href="<?php echo $return_status; ?>"><?php echo $text_return_status; ?></a></li>
											<li><a href="<?php echo $return_action; ?>"><?php echo $text_return_action; ?></a></li>
											<li><a href="<?php echo $return_reason; ?>"><?php echo $text_return_reason; ?></a></li>
										</ul>
									</li>
									<li><a href="<?php echo $country; ?>"><?php echo $text_country; ?></a></li>
									<li><a href="<?php echo $zone; ?>"><?php echo $text_zone; ?></a></li>
									<li><a href="<?php echo $geo_zone; ?>"><?php echo $text_geo_zone; ?></a></li>
									<li><a class="parent"><?php echo $text_tax; ?></a>
										<ul>
											<li><a href="<?php echo $tax_class; ?>"><?php echo $text_tax_class; ?></a></li>
											<li><a href="<?php echo $tax_rate; ?>"><?php echo $text_tax_rate; ?></a></li>
										</ul>
									</li>
									<li><a href="<?php echo $length_class; ?>"><?php echo $text_length_class; ?></a></li>
									<li><a href="<?php echo $weight_class; ?>"><?php echo $text_weight_class; ?></a></li>
                                                                        -->
								</ul>
							</li>
                            <!--
							<li><a href="<?php echo $error_log; ?>"><?php echo $text_error_log; ?></a></li>
							<li><a href="<?php echo $backup; ?>"><?php echo $text_backup; ?></a></li>
                                                        -->
						</ul>
					</li>
					<li id="reports"><a class="top"><?php echo $text_reports; ?></a>
						<ul>
							<li><a class="parent"><?php echo $text_sale; ?></a>
								<ul>
									<li><a href="<?php echo $report_sale_order; ?>"><?php echo $text_report_sale_order; ?></a></li>
									<li><a href="<?php echo $report_sale_tax; ?>"><?php echo $text_report_sale_tax; ?></a></li>
									<li><a href="<?php echo $report_sale_shipping; ?>"><?php echo $text_report_sale_shipping; ?></a></li>
									<li><a href="<?php echo $report_sale_return; ?>"><?php echo $text_report_sale_return; ?></a></li>
									<li><a href="<?php echo $report_sale_coupon; ?>"><?php echo $text_report_sale_coupon; ?></a></li>
								</ul>
							</li>
							<li><a class="parent"><?php echo $text_product; ?></a>
								<ul>
									<li><a href="<?php echo $report_product_viewed; ?>"><?php echo $text_report_product_viewed; ?></a></li>
									<li><a href="<?php echo $report_product_purchased; ?>"><?php echo $text_report_product_purchased; ?></a></li>
								</ul>
							</li>
							<li><a class="parent"><?php echo $text_customer; ?></a>
								<ul>
									<li><a href="<?php echo $report_customer_online; ?>"><?php echo $text_report_customer_online; ?></a></li>
									<li><a href="<?php echo $report_customer_order; ?>"><?php echo $text_report_customer_order; ?></a></li>
									<li><a href="<?php echo $report_customer_reward; ?>"><?php echo $text_report_customer_reward; ?></a></li>
									<li><a href="<?php echo $report_customer_credit; ?>"><?php echo $text_report_customer_credit; ?></a></li>
								</ul>
							</li>
							<li><a class="parent"><?php echo $text_affiliate; ?></a>
								<ul>
									<li><a href="<?php echo $report_affiliate_commission; ?>"><?php echo $text_report_affiliate_commission; ?></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li id="help"><a class="top"><?php echo $text_help; ?></a>
						<ul>
						<!--
							<li><a href="http://www.opencart.com" target="_blank"><?php echo $text_opencart; ?></a></li>
							<li><a href="http://www.opencart.com/index.php?route=documentation/introduction" target="_blank">
								<?php echo $text_documentation; ?></a>
							</li>
							<li><a href="http://forum.opencart.com" target="_blank"><?php echo $text_support; ?></a></li>
						-->			
							<li><a target="" class="help-about">About</a></li>
							<li><a target="" class="help-docs">Docs</a></li>
						</ul>
					</li>
				</ul>
			</div>


			<div class="sidebar copyright" style="display:none">
				<!--
				<div class="sidebar-base5builder">
					<p>ImpulsePro Admin Template By <a href="http://base5builder.com/" target="_blank">Base5Builder.com</a>. Built with <a href="http://getbootstrap.com/" target="_blank">Bootstap</a> v2.3.2. <br />Icons by: <a href="http://iconsweets2.com/" target="_blank">iconSweets2</a></p>
				</div>
				-->
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<!-- 
				<div class="sidebar-opencart" style="text-align: center">
					<a href="http://greenhole.web.id">GreenHole</a> &amp; <?php echo $text_footer; ?>
				</div>
				 -->
			</div>
		</div>
		<div class="right-header-content clearfix">
                    <div class="secondary-menu">
                        <ul>
                            <li id="store"><a onclick="window.open('<?php echo $store; ?>');" class="top"><?php echo $text_front; ?></a>
                            <ul>
                                <?php foreach ($stores as $stores) { ?>
                                <li><a onclick="window.open('<?php echo $stores['href']; ?>');"><?php echo $stores['name']; ?></a></li>
                                <?php } ?>
                            </ul>
                            </li>
                            <li id="logout"><a class="top" href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
			</ul>
			</div>
			<div class="admin-info"><?php echo $logged; ?></div>
		</div>
		<?php } ?>

		<div id="modal-help-about" style="display:none">
			<p>Rebuilded by <a href="http://greenhole.web.id" target="_blank">GreenHole</a></p>
			<p>Powered by <a href="http://opencart.com" target="_blank">Opencart</a></p>
			<p>&copy; 2014 All Rights Reserved.</p>
			<p>Version 1.5.6</p>
		</div>

		<div id="modal-help-docs"  style="display:none">
			<h3>Docs</h3>
			<p>...</p>
		</div>
