/* 
    Document   : greenhole-adm
    Created on : Mar 23, 2014, 5:03:55 PM
    Author     : Controller
    Description:
        Purpose of the stylesheet follows.
*/

.btnlink {
    height: 1600px;
    width: 1600px;
    background: red;
}
.btn-sunting {
    background-image: url("../../../image/admin_theme/base5builder_impulsepro/32x32-edit.png") no-repeat;
}
.btn-saring {
    background-image: url("../../../image/admin_theme/base5builder_impulsepro/32x32-filter.png") no-repeat;
}
.btn-hapus {
    background-image: url("../../../image/admin_theme/base5builder_impulsepro/32x32-delete.png") no-repeat;
}

