/*
 @Document   : GreenHole
 @Create Date: Mar 19, 2014, 7:57:52 PM
 @Author     : greenhole.web.id <mursito@greenhole.web.id>
 @Description:
        - Additional stylesheet
        - Override native stylesheet
*/

/** Override stylesheet.css **/

/* GENERAL */

/*@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'),
       local('Oswald-Regular'),
       url('../../../../../gh_assets/fonts/oswald/-g5pDUSRgvxvOl5u-a_WHw.woff') format('woff');
}*/

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Bold'),
       local('Montserrat-Bold'),
       url('../../../../../gh_assets/fonts/Montserrat-Bold.ttf') format('ttf');
}

/* HEADER */
.primary-define #header {
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 1px outset #FFFEEE;
    -webkit-box-shadow: -1px 4px 10px 1px rgba(181,170,181,1);
    -moz-box-shadow: -1px 4px 10px 1px rgba(181,170,181,1);
    box-shadow: -1px 4px 10px 1px rgba(181,170,181,1);
}
.primary-define #header *,
.primary-define #header a * {
    color: #99CC66;
}

/* TOPPANEL *
.primary-define #toppanel {
	-webkit-box-shadow : 0 8px 11px 3px #fff;
	   -moz-box-shadow : 0 8px 11px 3px #fff;
	        box-shadow : 0 8px 11px 3px #fff;
}

/* MENU */
.primary-define #menu {
    display: none;
}

/* CONTENT */
body,
.primary-define #container {
    /*background: #F7E741;*/
    /*background: url(../image/backgrounds/bg-noise-dark.png);*/
    background: #F3F3F3;
}
.primary-define #container {
    padding-top: 10%;
}
.primary-define .box-product > div {
    margin-bottom: 2px;
    /*border: 1px solid #FFEE59;*/
    border: 1px solid #3D3D3D;
    border-radius: 0;
    /*border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;*/
}
.primary-define .box-product > div:hover {
    border-color: #EE5757;
    border-radius: 0;
    /*
    border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px;
    */
}
.primary-define .box-product .details {
    border-color: #EE5757;
    border-radius: 0;
    /*
    border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px; -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px; -webkit-border-bottom-right-radius: 3px;
    */
}
.primary-define .box-product > div .image {
    padding-top: 1px;
}
.primary-define .box-product > div .image img {
    margin-top: -30px;
}
.primary-define .box-product .price div {
    margin-top: 58%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}
.primary-define .box-product .price .price-fixed {
    padding: 22% 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.primary-define .box-heading {
    color: #F7E741;
}
.slideshow {}
.slideshow .nivoSlider {
    border: 2px solid #3D3D3D;
    -webkit-box-shadow: 0px 26px 13px -9px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    0px 26px 13px -9px rgba(50, 50, 50, 0.7);
    box-shadow:         0px 26px 13px -9px rgba(50, 50, 50, 0.7);
    /*border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;*/
}
.slideshow .nivoSlider .nivo-imageLink { background: transparent; }

.box .box-heading {
    border: solid 1px #DDDDDD;
    background: #F5F5F5;
    text-indent: 0.5cm;
    font-size: 28px;
    font-variant: small-caps;
}

/** Footer */
.primary-define #footer {
    padding-bottom: 2px;
    /*border-top: 4px solid #027844; /**HIJAU TUA SEMU**/
    /*border-top: 4px solid #3A4450; /**BIRU DONGKER SEMU**/
    border-top: 4px solid #333333;   /**HITAM SEMU*
    /*border-top: 4px solid #FFCC00; /**KUNING SEMU**/
    /*background: url(../image/backgrounds/bright-square-2.png);*/
    background: #FFFFFF;

}
.primary-define #footer .wrapper {
    height: 100%;
    width: 90%;
    padding: 1px;
    background: url(http://localhost/__ES.globalAssets/img/background-nano/bg_overlay5.png) repeat;
}
/** Etc **/
.hide {
    display: none;
}
.wrapper-jumping {
    float: right;
    margin-right: 5%;
    font-size: 16px;
    border: 1px solid;
}
.btn-jumping {
    text-align: center;
}

#categories-wrapper .linear {
    float: left;
    display: inline-table;
}
#categories-wrapper .btn-slide-wrapper {
    width: 3%;
    height: 100%;
    padding-top: 25%;
}
#categories-wrapper .btn-slide-wrapper button,
#categories-wrapper .btn-slide-wrapper a {
    z-index: 18;
}
#categories-wrapper .metro-wrapper {
    width: 88%;
    height: 100%;
}

/** Override colors.css **/
/** Header */
.color-teal #header {
    /*background: url(../image/backgrounds/bright-square-2.png);*/
    background: #333333;   /*HITAM SEMU*/
    /*background: #3A4450; /*BIRU DONGKER SEMU**/
    /*background: #FF7518; /*ORANGE SEMU**/
    /*background: #027844; /*HIJAU TUA SEMU**/
}

.primary-define #header #topbar {
    color: #99CC66;
    background: #1A1A1A;
}

/** Override Metro Stylesheet */
/** Content Wrapper */
body .metro-wrapper {
    padding-top: 0%;

}
.metro-wrapper .dashboard,
.metro-wrapper ul.tiles  {
    margin: 0 5em 0 0;
}
.metro-wrapper li.tile,
.metro-wrapper li.tile .front
{
    background-color: #FFFFFF;
    color: #027844;
}

.metro-wrapper li.tile.rotate3d
{
    background-color: transparent;
}

.metro-wrapper li.tile {
    border: 5px solid #DDDDDD;
}

.metro-wrapper .slideTextUp img {
    height: 100%;
}

.gh-nivo-directionNav a {
    background-color: #ddd;
    background-image: url("../image/icons/icon-nav-arrows.png");
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 3px;
    bottom: 15px;
    cursor: pointer;
    display: block;
    height: 30px;
    /*position: absolute;*/
    text-indent: -9999px;
    width: 30px;
    z-index: 9;
}

.box-content.gh-content-metro {
    padding-left: 3em;
}

.gh-nivo-directionNav a:hover {
    background-color: #6EC8BC;
}

.gh-nivo-prevNav {
    background-position: left center;
    left: auto;
    right: 46px;
}

.gh-nivo-nextNav {
    background-position: right center;
    left: auto;
    right: 46px;
}

.btn-heading {
    cursor: pointer;
}

/** Override Extension Scroller-ToTop Stylesheet */
#ToTop {
    position: fixed;
    bottom: 0;
    left: 0.5%;
    z-index: 999;
}

/**
    Override Extension Carousel Stylesheet
**/
.gh-extend-jcarousel {
    padding-top: 15px;
    margin-bottom: 30px;
    /*background: url(../image/backgrounds/bg-diag.png) left top repeat-x;*/
}
.gh-extend-jcarousel .gh-extend-jcarousel-inner {
    padding-bottom: 15px;
    /*background: url(../image/backgrounds/bg-diag.png) left bottom repeat-x;*/
}
.gh-extend-jcarousel .jcarousel-container {
    padding: 0 60px;
}
.gh-extend-jcarousel .jcarousel-clip {
    width: 100%;
    overflow: hidden;
}
.gh-extend-jcarousel .jcarousel-item {
    margin: 0;
    text-align: center;
}
.gh-extend-jcarousel .jcarousel-item img {
    vertical-align: middle;
}
.gh-extend-jcarousel .jcarousel-direction-rtl {
    direction: rtl;
}
.gh-extend-jcarousel .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-right: 0;
    margin-left: 10px;
}
.gh-extend-jcarousel .jcarousel-item-placeholder {
    color: #000;
    background: #fff;
}
.gh-extend-jcarousel .gh-block-category {
    padding: 5px;
    border: 2px solid #DDDDDD;
    height: 30em;
}
.gh-extend-jcarousel .gh-block-category ul {
    display: block;
}
.gh-extend-jcarousel .jcarousel-list {

}
/**
 *  Horizontal Buttons
 */
.gh-extend-jcarousel .jcarousel-container .jcarousel-next-horizontal,
.gh-extend-jcarousel .jcarousel-container .jcarousel-prev-horizontal {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.gh-extend-jcarousel .jcarousel-container .jcarousel-next-horizontal {
    background: #ddd url(../image/icons/icon-nav-arrows.png) right center no-repeat;
}
.gh-extend-jcarousel .jcarousel-container .jcarousel-prev-horizontal {
    background: #ddd url(../image/icons/icon-nav-arrows.png) left center no-repeat;
}
.gh-extend-jcarousel .jcarousel-container .jcarousel-next-horizontal,
.gh-extend-jcarousel .jcarousel-container .jcarousel-prev-horizontal {
    top: 50%;
    margin-top: -15px;
}
.gh-extend-jcarousel .jcarousel-container .jcarousel-next-horizontal {
    right: 0;
}
.gh-extend-jcarousel .jcarousel-container .jcarousel-prev-horizontal {
    left: 0;
}
