<div class="box" style="display: block">
  <div class="box-heading"><span><?php echo $heading_title; ?></span></div>
  <div class="box-content">
    <?= $foo;?>
  </div><!--/ End: .box-content -->
</div><!--/ End: .box -->